<p style="color: green"><%= notice %></p>

<table class="table">

  <thread>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Github</th>
    </tr>
  </thread>

  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td>
          <%= link_to friend.first_name + ' ' + friend.last_name, friend %>
        </td>

        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.github %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New friend", new_friend_path %>
