<table class="table table-bordered table-hover table-responsize text-center">
  <thead class="table-dark">
    <tr>
      <th>Created by</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Github</th>
      <th></th>
      <th></th>
    </tr>
  </tread>

  <tbody>
    <% @friends.each do |friend| %>
      <% if friend.user == current_user %>
        <tr>

          <td><%= friend.user_id %></td>
          <td>
            <%= link_to friend.first_name + ' ' + friend.last_name, friend %>
          </td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.github %></td>
          <td>
            <%= link_to "Edit", edit_friend_path(friend) %>
          </td>
          <td>
            <%= button_to "Delete", friend, method: :delete %>
          </td>


        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to "New friend", new_friend_path, class: "btn btn-secondary" %>